<html>
<head>
	<!-- for debug -->
	<script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script>

	<title>View</title>

	<!-- own layout -->
	<link href="./css/layout.css" rel="stylesheet" />

	<!-- external utilities -->
	<script type="text/javascript" src="./libs/EventEmitter/EventEmitter.js"></script>

	<!-- own scripts -->
	<script type="text/javascript" src="./js/events.js"></script>

	<!-- own scripts -->
	<script type="text/javascript" src="./js/core.js"></script>
</head>
<body>
	This could be your html file.

	<script>
		alert(PyInterface)
	</script>
</body>
</html>